* {
  text-align: center;
  box-sizing: border-box;
 }


/* Bloks position */
.item {
  display: inline-block;
  position: relative;
  bottom: 50%;
  cursor: pointer;
}

.badge_discount {
  background-color: green;
  position: absolute;
  right: 0;
}

.badge_five {
  background-color: red;
  width: 35px;
}

.products_line1 {
  position: relative;
  top: 50px;
}

.products_line2 {
  position: relative;
  top:100px;
}
/* /Bloks position */

/* Hearts animation */
.heart {
  display: none;
  font-size: 30px;
  color: red;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

img:hover + .heart {
  display: block;
}
/* /Hearts animation */
