* {
  text-align: center;
  box-sizing: border-box;
 }

.item {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.discount {
  background-color: green;
  position: absolute;
  right: 0;
}

.five {
  background-color: red;
  width: 35px;
}

.products_line2 {
  position: relative;
  top:50px;
}

.heart {
  font-size: 35px;
  color: red;
  position: absolute;
  bottom: 5px;
  left: 50%;
}
