* {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
 }

.item {
  display: inline-block;
  position: relative;
}

.discount {
  background-color: green;
  position: absolute;
  left: 265px;
  bottom: 358px;
  z-index: 1;
}

.five {
  background-color: red;
  width: 35px;

}
